<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a routerLink="/home" class="app-brand-link">
            <img src="/assets/static/images/logo/logo_red.png">
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboards">Dashboards</div>
                <!-- <div class="badge bg-danger rounded-pill ms-auto">5</div> -->
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a routerLink="/admin/cateparents" class="menu-link">
                        <div data-i18n="CRM">Category Parents</div>
                        <!-- <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> -->
                    </a>
                </li>
                <li class="menu-item">
                    <a routerLink="/admin/category" class="menu-link">
                        <div data-i18n="Analytics">Category</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a routerLink="/admin/products" class="menu-link">
                        <div data-i18n="eCommerce">Products</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a routerLink="/admin/users" class="menu-link">
                        <div data-i18n="Logistics">Users</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item active">
            <a routerLink="/admin/home" class="menu-link">
                <i class="menu-icon tf-icons bx bx-receipt"></i>
                <div data-i18n="Email">Quản lí doanh thu</div>
            </a>
        </li>

        <li class="menu-item">
            <a routerLink="/admin/orders" class="menu-link">
                <i class="menu-icon tf-icons bx bx-receipt"></i>
                <div data-i18n="Email">Quản lí đơn hàng</div>
            </a>
        </li>
    </ul>
</aside>
<!-- / Menu -->