<app-shop-header></app-shop-header>

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Wishlist</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a routerLink="/home">Home</a></li>
                                <li><a routerLink="/shop">Shop</a></li>
                                <li class="active" aria-current="page">Wishlist</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Wishlist Section:::... -->
<div class="wishlist-section">
    <!-- Start Cart Table -->
    <div class="wishlish-table-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="table_page table-responsive">
                            <table>
                                <!-- Start Wishlist Table Head -->
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_stock">Stock Status</th>
                                        <th class="product_addcart">Add To Cart</th>
                                    </tr>
                                </thead> <!-- End Cart Table Head -->
                                <tbody>
                                    <!-- Start Wishlist Single Item-->
                                    <tr *ngFor="let product of wishlist">
                                        <td class="product_remove"><a (click)="deleteProductInWishlist(product.product_id)" class="a"><i class="fa fa-trash-o"></i></a></td>
                                        <td class="product_thumb"><a routerLink="/product/{{product.product_id}}" class="a"><img
                                                    [src]="product.processedImg" alt=""></a>
                                        </td>
                                        <td class="product_name"><a routerLink="/product/{{product.id}}" class="a">{{product.product_name}}</a></td>
                                        <td class="product-price">{{product.price | currency}}</td>
                                        <td *ngIf="product.stoke > 0" class="product_stock">In Stock</td>
                                        <td *ngIf="product.stoke == 0" class="product_stock">Out of Stock</td>
                                        <td class="product_addcart"><a (click)="addToCart(product.product_id)" class="btn btn-md btn-golden"
                                                data-bs-toggle="modal" data-bs-target="#modalAddcart">Add To Cart</a>
                                        </td>
                                    </tr> 
                                    <!-- End Wishlist Single Item-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- End Cart Table -->
</div> 
<!-- ...:::: End Wishlist Section:::... -->

<app-shop-footer></app-shop-footer>
